@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background:#567;
  font-family:'Open Sans',sans-serif;
}

#login{
  width:85%;
  margin:0 auto;
  margin-top:15px;
  margin-bottom:2%;
  transition:opacity 1s;
  text-align: center;
  -webkit-transition:opacity 1s;
}

.hidden{
  display: none ;
}

.fa-spin{
  visibility:hidden;
  display:block !important;
}

.error{
  background:#9c2b2e !important;
}

.confirmation{
  background:rgb(51, 204, 88) !important;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:320%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#form{
  background:#f0f0f0;
  padding:6% 4%;
}

input{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:300%;
  color:#555;
  text-align: center;
}

button{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:300%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.twoInRow {
  width:45%;
  display:inline !important;
  font-size:150%;
}

button:hover{
  background:#2288bb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}